<table class="table">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Status</th>
    <th>Edit</th>
  </tr>
  <tr>
    <td><%= @meal.name %></td>
    <td><%= @meal.description %></td>
    <td><%= @meal.price %></td>
    <td><%= @meal.status %></td>
    <td>Edit</td>
  </tr>
</table>