<div class="meals-index">
  <% if @meals.present? %>
  <table class="table table table-hover">
    <tr>
      <th>Name</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
    <% @meals.each do |meal| %>
      <tr>
        <td><%= link_to "#{meal.name}", admin_meal_path(meal) %></td>
        <td><%= link_to "Edit", edit_admin_meal_path(meal) %></td>
        <td><%= link_to 'Destroy', admin_meal_path(meal),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </table>
  <% else %>
    No more meals exist gaybot. Create some.
  <% end %>

  <div>
    <%= link_to "Create new meal", new_meal_path %> 
  </div>
</div>